<h2>Контакты</h2>
<p class="descr"><b class="bold">Телефоны: 778-22-55 мтс, A1, life:)</b></p>
<p class="descr"><b class="bold">E-mail: booklover.by@gmail.com </b></p>
<p class="descr"><b class="bold">Адрес: г. Минск, Октябрьская площадь 2-3, ТЦ "Купаловский", павильон 33</b></p>
<p class="descr"><b class="bold">Время работы павильона: Пон-суб 11.00-19.00 Воскр 11.00-17.00</b> </p>   
<div class="map" id="map">
    будет карта
</div>
