<h2>Доставка</h2>
 <div class="block">
     <p class="descr">
         Наш магазин позволяет Вам заказывать книги удаленно. Прежде, чем приобрести товар, Вы можете ознакомиться на  нашем сайте с его описанием. Если Вы приняли решение о покупке – возможен самовывоз, доставка почтой по РБ или курьером  по г.Минску</p>
     <p class="descr">Книжный магазин  booklover.by предлагает Вам три вида поставки товаров:</p>
     <p class="descr"><b class="bold">1. Самовывоз.</b></p>
     <p class="descr">Самый выгодный и быстрый способ получения заказа. Вы можете забрать Ваш заказ самостоятельно, не тратя дополнительные средства и время на ожидание доставки.
        При оформлении заказа сделайте отметку, что заберете свои покупки самостоятельно. Оформленный заказ, после подтверждения наличия товара менеджером нашего магазина, Вы сможете получить по адресу: г. Минск, Октябрьская площадь 2-3, ТЦ "Купаловский" , павильон 33 в следующем режиме работы: понедельник-суббота 11.00-19.00 воскресенье 11.00-17.00</p>
     <p class="descr"><b class="bold">2. Доставка курьером по городу Минску.</b></p>
     <p class="descr">Если Вы проживаете в городе Минске, Вы можете воспользоваться доставкой нашего курьера. В случае, если сумма Вашего заказа составляет более 50 белорусских рублей - доставка будет бесплатной. Если сумма Вашей покупки менее 50 белорусских рублей –  услуга доставки будет платной. Стоимость доставки 5 рублей. Заказы общей стоимостью менее 10 рублей курьером не доставляются, возможен только самовывоз.</p>
     <p class="descr">Доставка не осуществляется в следующие микрорайоны : Дрозды, Зацень, Цнянка, Цна.</p>
     <p class="descr"><b class="bold">Доставка почтой на территории Республики Беларусь.</b></p>
     
     <p class="descr">
        В этом случае заказ, который Вы оформили в магазине  booklover.by будет доставлен Вам почтой. Сотрудники booklover.by отправят Ваш заказ, и Вы сможете получить его через несколько дней (от двух до пяти ) в  почтовом отделении по месту своего проживания.
        О поступлении почтовой посылки, Вы будете уведомлены сотрудниками почтового отделения .
        Существует несколько способов почтовых отправлений -
        <br>
        1.Самый распространенный - пересылка товара наложенным платежом. В этом случае, Вы оплачиваете стоимость товара + стоимость пересылки согласно тарифов РУП "Белпочта" + небольшой платеж за перевод денежных средств согласно тарифов РУП "Белпочта" .
        <br>
        2. При предоплате заказанных товаров через ЕРИП, возможна отправка книг обычной посылкой. В этом случае Вы оплачиваете только стоимость книг + стоимость посылки. Комиссия за перевод денежных средств с покупателя в этом случае не взимается. Данный вид пересылки можно выбрать на этапе оформления заказа.
        <br>
        3. Внутренние отправления EMS (ускоренная почта). Возможность получения посылки на дому, в офисе на следующий рабочий день после дня отправки.
        Все тарифы и детали пересылки Вы можете обсудить дополнительно с сотрудниками нашего интернет-магазина
        <br>
        <br>
        Для жителей г.Минска пересылка почтой не осуществляется - возможен либо самовывоз, либо курьер.</p>
        
        <h5 class="title">ВРЕМЯ ДОСТАВКИ</h5>
        <p class="descr">Время доставки согласовывается с менеджером , который обязательно свяжется с Вами в рабочее время интернет-магазина после того, как Вы разместите свой заказ. Доставка производится в период с 11.00 до 19.00 часов ежедневно, кроме воскресенья.</p>
        <p class="descr">
            <b>Внимание!</b>
            Неправильно указанные или вовсе неуказанные контактные данные, неточный или неполный адрес могут привести к дополнительной задержке или полной отмене заказа ! Пожалуйста, внимательно проверяйте Ваши персональные данные при оформлении заказа. Конфиденциальность Ваших регистрационных данных гарантируется.
        </p>  
        
        <h5 class="title">МЕСТО ДОСТАВКИ</h5>
        <p class="descr">Доставка осуществляется по адресу, указанному при оформлении заказа. Если возникла необходимость доставить товар по иному адресу, Вам следует связаться с нами перед отправлением курьера или пересылкой товара.</p>
        
        <h5 class="title">ПРАВИЛА</h5> 
        <p class="descr">При курьерской доставке заказа вместе с товаром Вам будет передан кассовый чек. Цена, указанная в переданных Вам курьером документах, является окончательной, курьер не обладает правом корректировки цены.</p>
        <p class="descr">
            <b>Внимание!</b>
            Просим Вас помнить, что все параметры и потребительские свойства приобретаемого товара Вам следует уточнять у нашего менеджера до момента покупки товара. В обязанности курьера не входит осуществление консультаций и комментариев относительно потребительских свойств товара. При доставке заказа проверяйте соответствие доставленного товара описанию на нашем сайте. При незаявлении Вами при получении товара претензий по поводу механических повреждений, в дальнейшем подобные претензии не рассматриваются. В случае вопросов, пожеланий и претензий обращайтесь к нам по следующим телефонам:</p>
        <p class="descr">
            <b>Администрация магазина:</b>
              +375 29 5569657 мтс
        </p>
        <p class="descr">
            <b>Электронная почта: </b>
            <a href="mailto:bookstore.by@gmail.com">bookstore.by@gmail.com</a>
        </p>
 </div>