<div class="book-item__block">
    <img class="book-logo" src="{{image}}" alt="book-logo">
    <div class="book-item__sub-block">
        <span class="book-author">{{author}}</span>
        <h4 class="book-title">{{title}}</h4>
        <div class="book-item__footer">
            <span class="book-price">{{price}} руб.</span>
            <button class="btn btn-save btn-basket">Заказать</button>
        </div>
    </div>
</div>