<h2>Заказ</h2>
<div class="block">
    <p class="descr">
        Для того, чтобы заказать товар на нашем сайте, Вам нужно:
    </p>
    <ol class="list">
        <li class="item">
            Кликнуть на кнопку "Заказать" на странице выбранной книги. В корзину можно помещать несколько товаров.
        </li>
        <li class="item">
            После этого перейти на страницу "Корзина", нажав на ссылку "* товаров" в правом верхнем углу страницы. Убедитесь, что товары в корзине соответствуют выбранным.
        </li>
        <li class="item">
            Далее нажмите на кнопку "Оформить заказ". Укажите контактные данные, информацию о доставке и оплате. Обратите внимание, что все поля отмеченные звездочкой (*) обязательны для заполнения.
        </li>
        <li class="item">
            После завершения заказа Вы получите e-mail уведомление об оформлении заказа. Кроме того, в рабочее время нашего магазина с Вами свяжется менеджер для подтверждения наличия товара либо сроков его доставки , уточнения контактных данных и адреса почтовой или курьерской доставки. Неподтвержденные заказы не принимаются к выполнению.
        </li>
    </ol>
    <p class="descr">
        <b>
            ВНИМАНИЕ!
        </b>        
    </p>
    <p class="descr">
        - Наличие книг в магазине уточняйте у консультанта, в случае отсутствия товара доставка из России производится в течении 5-12 дней.
    </p>
    <p class="descr">
        - Заказы по контактным телефонам, а также присланные посредством электронной почты, в sms-сообщениях, почтовой корреспонденцией и прочее к выполнению НЕ ПРИНИМАЮТСЯ. 
    </p>
    <p class="descr">
        - Обращаем Ваше внимание, что в ряде случаев по решению администрации магазина, заказы могут быть выполнены только по предварительной оплате. К этим случаям относятся : 
    </p>
    <p class="descr">
        оптовые заказы; заказы, имеющие в своем составе дорогостоящую литературу; узкоспециализированная литература; учебная литература.
        Также возможна предоплата заказов для покупателей, не выкупивших полностью или частично, а также отказавшихся от предыдущего(-их) заказов. 
        <p class="descr">
            К сведению <b>НЕРЕЗИДЕНТОВ РБ!</b> Заказы от граждан - нерезидентов РБ, а также граждан РБ, пребывающих за границей, принимаются исключительно по предоплате с последующим самовывозом из нашего магазина. Почтовую отправку за пределы РБ мы в данный момент времени не производим. Просьба учитывать данную информацию при желании сделать заказ в нашем магазине.
            Уважаемые покупатели! 
        </p>
        <p class="descr"></p>
            Статус книги <b>"НЕТ В ИЗДАТЕЛЬСТВЕ"</b> означает, что книги нет ни в нашем магазине, ни у наших поставщиков и ее заказ в данный момент времени невозможен. Возможные сроки и цена поставки тоже неизвестны. 
        </p>
        <p class="descr"></p>
            Кнопка <b>"УВЕДОМИТЬ О ПОЯВЛЕНИИ"</b> -  это автоматический сервис, всего лишь информационное сообщение , которое Вы получите при появлении книги у наших поставщиков и , соответственно, при желании сможете оформить заказ на данную книгу.
            Напоминаем, что согласно Постановлению Совета Министров Республики Беларусь № 778 от 14.06.2002 печатные издания входят в Перечень непродовольственных товаров надлежащего качества, не подлежащих обмену и возврату
        </p>
    </p>
</div>